
 .homelink {
  color: #CE217D;
  font-size:25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 60px;
 }

 .librarylink {
  color: #CE217D;
  font-size: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 60px;
  margin-left: 10px;

 }


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.bloclogo {
  text-align: left;
  color: #CE217D;
  font-family: Impact, Charcoal, sans-serif;
  margin-bottom: auto;

}

.banner {
  position: relative;
  text-align: center;
}

.banner-img {
  width: 100%;
  height: auto;
}
.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 70px;
  color: #CE217D;
  white-space: nowrap;
  overflow: hidden;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
